version: 1.0.{build}
os: Visual Studio 2015
# No need to get the whole history
clone_depth: 1

install:
  # Get zlib
  - appveyor DownloadFile "http://zlib.net/zlib128-dll.zip"
  - mkdir ..\zlib
  - 7z -y x zlib128-dll.zip -o..\zlib * -r

  # Install Openssl
  - appveyor DownloadFile "https://indy.fulgan.com/SSL/openssl-1.0.2d-i386-win32.zip"
  - mkdir ..\openssl
  - 7z -y x openssl-1.0.2d-i386-win32.zip -o..\openssl * -r



  # Install pcre
  - nuget install pcre -Verbosity detailed -Version 8.33.0.1 -OutputDirectory ..\pcre

before_build:
  - cmd: infrastructure/msvc/win32.bat


build:
  project: ./infrastructure/msvc/2010/boxbackup.sln
  verbosity: normal
