version: 1.0.{build}
# No need to get the whole history
clone_depth: 1

# https://www.boxbackup.org/wiki/CompileWithMinGW

install:

  - set PATH=C:\MinGW\msys\1.0\bin;C:\MinGW\bin;%PATH%
  - echo %PATH%


  # zlib
  - cmd: cd %APPVEYOR_BUILD_FOLDER%/..
  - appveyor DownloadFile  "http://zlib.net/zlib-1.2.8.tar.gz"
  - tar xf zlib-1.2.8.tar.gz
  - mv zlib-1.2.8 zlib

  - cmd: cd zlib
  - make -f win32/Makefile.gcc > zlib-make.log
  - make -f win32/Makefile.gcc install INCLUDE_PATH=/usr/local/include BINARY_PATH=/usr/local/bin LIBRARY_PATH=/usr/local/lib


  # Openssl
  - cmd: cd %APPVEYOR_BUILD_FOLDER%/..
  - appveyor DownloadFile "http://www.openssl.org/source/openssl-1.0.2d.tar.gz"
  - tar xf openssl-1.0.2d.tar.gz
  - mv openssl-1.0.2d openssl

  - cmd: cd openssl
  - perl Configure --prefix=/usr/i686-pc-mingw32/ mingw > openssl-configure.log
  - make > openssl-make.log
  - make install_sw 


  # PCRE
  - cmd: cd %APPVEYOR_BUILD_FOLDER%/..
  - appveyor DownloadFile "http://prdownloads.sourceforge.net/pcre/pcre-8.12.tar.bz2?download"
  - tar xf pcre-8.12.tar.bz2
  - mv pcre-8.12 pcre

  - cmd: cd pcre
  - sh -c './configure > pcre-configure.log || (cat config.log; false)'  
  - make  > pcre-make.log
  - make install


  # Clean up WD
  - cmd: cd %APPVEYOR_BUILD_FOLDER%
  - echo %CD%


build_script:
  - sh infrastructure/mingw/configure.sh
  - sh make
