version: 1.0.{build}
# No need to get the whole history
clone_depth: 1

# https://github.com/cppformat/cppformat/blob/master/support/appveyor-build.py

install:

  # Mode up one directory
  - echo %PATH%
  - echo %CD%
  - cmd: cd ..
  - echo %CD%


  # Build Openssl
  - appveyor DownloadFile "http://www.openssl.org/source/openssl-1.0.2d.tar.gz"
  - tar xf openssl-1.0.2d.tar.gz
  - mv openssl-1.0.2d openssl

  - cmd: cd openssl
  - perl Configure --prefix=/usr/i686-pc-mingw32/ mingw
  - make
  - make install_sw
  - cmd: cd ..

  # PCRE
  - appveyor DownloadFile "http://prdownloads.sourceforge.net/pcre/pcre-8.12.tar.bz2?download"
  - tar xf pcre-8.12.tar.bz2
  - mv pcre-8.12 pcre
  - cmd: cd pcre
  - export CFLAGS="-mno-cygwin"
  - export CXXFLAGS="-mno-cygwin"
  - ./configure --prefix=/usr/i686-pc-mingw32 --disable-shared
  - make 
  - make install

  # Clean up WD
  - cmd: cd %APPVEYOR_BUILD_FOLDER%
  - echo %CD%

before_build:
  - cmd: infrastructure/msvc/win32.bat


build:
  project: ./infrastructure/msvc/2010/boxbackup.sln
  verbosity: normal
