version: 1.0.{build}
os: Visual Studio 2015
# No need to get the whole history
clone_depth: 1

install:
  # Mode up one directory
  - echo %CD%
  - ps: cd ..
  - echo %CD%

  # Get zlib
  - appveyor DownloadFile "http://zlib.net/zlib128-dll.zip"
  - mkdir zlib
  - 7z -y x zlib128-dll.zip -ozlib * -r

  # Install pcre
  - nuget install pcre -Verbosity detailed -Version 8.33.0.1 -OutputDirectory ..\pcre

  # Build Openssl
  - appveyor DownloadFile "http://www.openssl.org/source/openssl-1.0.2d.tar.gz"
  - 7z -y x openssl-1.0.2d.tar.gz
  - 7z -y x openssl-1.0.2d.tar 
  - mv openssl-1.0.2d openssl
  - ps: cd openssl
  - perl Configure debug-VC-WIN32 no-asm --prefix=%CD%
  - ms\do_ms
  - nmake -f ms\nt.mak
  - nmake -f ms\nt.mak install


before_build:
  - cmd: infrastructure/msvc/win32.bat


build:
  project: ./infrastructure/msvc/2010/boxbackup.sln
  verbosity: normal
